<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ZoteroBib FAQ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/bib.css">
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
	<nav><a href="/" class="back-link">Back to ZoteroBib</a></nav>
	<main class="faq">
		<div class="container">{{{faq}}}</div>
	</main>
	<script src="/static/main.js"></script>
	<footer class="faq-footer">
		<nav class="social-nav">
			Stay in touch! Follow <a href="https://twitter.com/zotero">@zotero</a> on Twitter.
		</nav>
		<small class="copyright">
			© 2018–2022 Zotero
		</small>
	</footer>
</body>
</html>
