<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ZoteroBib FAQ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/bib.css">
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
	<nav><a href="/" class="back-link">Back to ZoteroBib</a></nav>
	<main class="faq">
		<div class="container">{{{faq}}}</div>
	</main>
	<script src="/static/main.js"></script>
</body>
</html>
