<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>ZBib</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/bib.css">
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
	<main id="zotero-bib"></main>
	<script id="zotero-bib-config" type="application/json">
		{{{json indexConfig}}}
	</script>
	<script src="/static/main.js"></script>
</body>
</html>
