<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>ZBib</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/bib.css">
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
	<main data-widget="zotero-bib"></main>
	<script src="/static/bib-component.js"></script>
	<script>
		ZoteroBibComponent.init(
			document.querySelector('[data-widget=zotero-bib]'),
			{
				{{#each indexConfig}}
					{{#if this}}
						{{@key}}: '{{this}}',
					{{/if}}
				{{/each}}
			}
		);
	</script>
</body>
</html>
