<!doctype html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Schroeder Citation Generator</title>
	<meta name="description"
		content="Mick Schroeder's Citation Generator is free and open-source software that helps you write a bibliography">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/bib.css">
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>

<body>
	<div class="container-fullwidth ">
		<div class="billboard">
			<p>Advertisement</p>
			<!-- cite-alpha -->
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6344797609391119"
				data-ad-slot="3922555336" data-ad-format="auto" data-full-width-responsive="true"></ins>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
	</div>
	<div class="container-fullwidth nav">

		<div class="container">
			<nav class="flexbox">
				<img src="/static/images/mickschroeder.logo_white.png" width="270px" alt="mick schroeder" />
				<ul class="fullwidth">
					<li><a href="https://mickschroeder.com/about">About</a></li>
					<li><a href="mailto:cite@mickschroeder.com">Contact Me</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<main id="zotero-bib"></main>
	<script id="zotero-bib-config" type="application/json">
		{{{json indexConfig}}}
	</script>
	<script src="/static/main.js"></script>
</body>
</html>