<!doctype html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Mick Schroeder's Citation Generator</title>
	<meta name="title" content="Mick Schroeder's Citation Generator">
	<meta name="description" content="Free automatic citation and bibliography generator. AMA, APA, APA, NLM, + 9,000 more.">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://cite.mickschroeder.com">
	<meta property="og:title" content="Mick Schroeder's Citation Generator">
	<meta property="og:description" content="Free automatic citation and bibliography generator. AMA, APA, APA, NLM, + 9,000 more.">
	<meta property="og:image" content="https://cite.mickschroeder.com/static/images/schroeder-cite-card.png">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://cite.mickschroeder.com">
	<meta name="twitter:creator" content="@mick_schroeder">
	<meta property="twitter:title" content="Mick Schroeder's Citation Generator">
	<meta property="twitter:description" content="Free automatic citation and bibliography generator. AMA, APA, APA, NLM, + 9,000 more.">
	<meta name="twitter:image" content="https://cite.mickschroeder.com/static/images/schroeder-cite-card.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<link rel="manifest" href="/static/site.webmanifest">
	<meta name="theme-color" content="#1e50a0">
	<link rel="stylesheet" type="text/css" href="/static/bib.css">
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-RBCQ1J1QLC"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-RBCQ1J1QLC');
	</script>
</head>

<body>
	<div class="container-fullwidth nav">
		<div class="container">
			<nav class="flexbox">
				<a href="https://mickschroeder.com"><img src="/static/images/mickschroeder.logo_white.png" width="270px" alt="mick schroeder" /></a>
				<ul class="fullwidth">
					<li>				
						<a href="https://mickschroeder.com/about">About Mick</a>
					</li>
					<li>				
						<a href="https://www.mickschroeder.com/projects">Projects</a>
					</li>
					<li>				
						<a href="https://twitter.com/intent/tweet?screen_name=mick_schroeder&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @mick_schroeder</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<main id="schroeder-cite"></main>
	<script id="schroeder-cite-config" type="application/json">
		{{{json indexConfig}}}
	</script>
	<script src="/static/main.js"></script>
</body>
</html>