node_modules
coverage
tmp
lib
.DS_Store
build
data
config/local*.json
.npmrc
.nyc_output
src/static/icons/16/cog.svg
src/static/icons/16/document.svg
src/static/icons/16/folder.svg
src/static/icons/16/magnifier.svg
src/static/icons/16/minus.svg
src/static/icons/16/note.svg
src/static/icons/16/options.svg
src/static/icons/16/paperclip.svg
src/static/icons/16/plus.svg
src/static/icons/16/spin.svg
src/static/icons/16/tag.svg
src/static/icons/16/trash.svg
src/static/icons/20/add-collection.svg
src/static/icons/20/input-dual.svg
src/static/icons/20/input-single.svg
src/static/js/citeproc.js
src/static/locales/locales-af-ZA.xml
src/static/locales/locales-ar.xml
src/static/locales/locales-bg-BG.xml
src/static/locales/locales-ca-AD.xml
src/static/locales/locales-cs-CZ.xml
src/static/locales/locales-cy-GB.xml
src/static/locales/locales-da-DK.xml
src/static/locales/locales-de-AT.xml
src/static/locales/locales-de-CH.xml
src/static/locales/locales-de-DE.xml
src/static/locales/locales-el-GR.xml
src/static/locales/locales-en-GB.xml
src/static/locales/locales-en-US.xml
src/static/locales/locales-es-CL.xml
src/static/locales/locales-es-ES.xml
src/static/locales/locales-es-MX.xml
src/static/locales/locales-et-EE.xml
src/static/locales/locales-eu.xml
src/static/locales/locales-fa-IR.xml
src/static/locales/locales-fi-FI.xml
src/static/locales/locales-fr-CA.xml
src/static/locales/locales-fr-FR.xml
src/static/locales/locales-he-IL.xml
src/static/locales/locales-hr-HR.xml
src/static/locales/locales-hu-HU.xml
src/static/locales/locales-id-ID.xml
src/static/locales/locales-is-IS.xml
src/static/locales/locales-it-IT.xml
src/static/locales/locales-ja-JP.xml
src/static/locales/locales-km-KH.xml
src/static/locales/locales-ko-KR.xml
src/static/locales/locales-lt-LT.xml
src/static/locales/locales-lv-LV.xml
src/static/locales/locales-mn-MN.xml
src/static/locales/locales-nb-NO.xml
src/static/locales/locales-nl-NL.xml
src/static/locales/locales-nn-NO.xml
src/static/locales/locales-pl-PL.xml
src/static/locales/locales-pt-BR.xml
src/static/locales/locales-pt-PT.xml
src/static/locales/locales-ro-RO.xml
src/static/locales/locales-ru-RU.xml
src/static/locales/locales-sk-SK.xml
src/static/locales/locales-sl-SI.xml
src/static/locales/locales-sr-RS.xml
src/static/locales/locales-sv-SE.xml
src/static/locales/locales-th-TH.xml
src/static/locales/locales-tr-TR.xml
src/static/locales/locales-uk-UA.xml
src/static/locales/locales-vi-VN.xml
src/static/locales/locales-zh-CN.xml
src/static/locales/locales-zh-TW.xml
