//
// About
//

.about {
	background: $about-bg;
	color: $shade-0;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	.container {
		max-width: 1172px;
	}

	.column {
		flex: 0 0 50%;

		@media (min-width: $bp-md) {
			&:nth-child(1) {
				padding-right: 40px;
			}

			&:nth-child(2) {
				padding-left: 40px;
			}
		}
	}

	.h4 {
		margin-bottom: $space-xs;
		text-align: center;
	}

	a {
		color: mix($link-color, $shade-0, 40%);
	}

	p {
		margin-top: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.zbib-illustration {
		position: relative;
		left: 11px;
		display: block;
		margin: 0 auto (96px - 25px);

		@media (max-width: ($bp-md - 1px)) {
			left: 6px;
			width: 156px;
			height: auto;
			margin: 0 auto ($space-xxxl - 16px);
		}
	}

	.features {
		text-align: left;
		margin-top: 80px - 17px;
		margin-bottom: $space-xxxl - 7px - 48px;

		@media (min-width: $bp-md) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 120px - 20px;
			margin-bottom: $space-max - 7px - 79px;
			margin-left: -40px;
			margin-right: -40px;
		}
	}

	.feature {
		position: relative;
		margin-bottom: $space-xxxl - 16px;

		@media (min-width: $bp-md) {
			flex: 0 0 50%;
			margin-bottom: $space-max - 17px;
			padding: 0 40px;

			&:last-child {
				//margin-bottom: 0;
			}
		}

		@media (min-width: $bp-lg) {
			flex: 0 0 33%;
		}
	}

	.feature-icon {
		display: block;
		margin: 0 auto $space-md;
	}

	.support {
		font-weight: 300;
		font-size: $lead-font-size-mobile;
		margin-top: $space-xl - 13px;

		@media (min-width: $bp-md) {
			font-size: $lead-font-size;
			margin-top: $space-xxl - 15px;
		}
	}
}
