//
// About
//

.about {
	background: $about-bg;
	color: #000;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	h1 {
		font-weight: 800;
	}

	.container {
		@media (min-width: $bp-md) {
			width: auto; // Reset
			max-width: 640px;
		}

		@media (min-width: $bp-lg) {
			max-width: 972px;
		}
	}

	.column {
		@media (min-width: $bp-lg) {
			flex: 1 1 50%;
		}
		@media (min-width: $bp-xl) {
			flex: 1 1 30%;
		}
	}

	.h4 {
		margin-bottom: $space-xs;
		font-weight: 800;

	}

	a {
		color: mix($link-color, $shade-0, 40%);
	}

	p {
		margin-top: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.zbib-illustration {
		position: relative;
		left: 11px;
		display: block;
		margin: 0 auto (96px - 27px);

		@media (max-width: ($bp-md - 1px)) {
			left: 6px;
			width: 156px;
			height: auto;
			margin: 0 auto ($space-xxxl - 17px);
		}
	}

	.features {
		text-align: left;
		margin-top: 80px - 17px;
		margin-bottom: $space-xl;

		@media (min-width: $bp-md) {
			margin-top: 120px - 20px;
			margin-bottom: $space-xl;
		}

		@media (min-width: $bp-lg) {
			display: flex;
		}
	}

	.feature {
		padding: $space-xl;
		//position: relative;
		//margin-bottom: $space-xxxl - 15px;
		background-color: #fff;
		@media (min-width: $bp-md) {
			margin-bottom: $space-max - 16px;
			margin-right: $space-xl;

		}

		@media (min-width: $bp-lg) {
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.feature-icon {
		//position: absolute;
		//left: 0;
		//top: -23px;
		margin-top: 0;
		margin-bottom: 70px;
		margin-left: 0;
		margin-right: 15px;
		float: left;
		//@media (min-width: $bp-md) {
		//	top: -20px;
		//}
	}

	.remove-icon {
		vertical-align: -2px;
		margin: 0 1px;
	}

	.support {
		font-weight: 300;
		font-size: $lead-font-size-mobile;
		margin-top: $space-xl - 13px;

		@media (min-width: $bp-md) {
			font-size: $lead-font-size;
			margin-top: $space-xxl - 15px;
		}
	}
}
