//
// Bibliography
//

.bibliography {
	padding: 0;
	list-style: none;
	text-align: left;

	// CSL styles only work correctly with content-box
	.csl-entry {
		word-wrap: break-word; // Break long URLs

		&,
		* {
			box-sizing: content-box;
		}
	}

	.csl-left-margin {
		word-wrap: normal;
	}

	.write & {
		margin: $space-lg (-$grid-gutter-width / 2);

		@media (min-width: $bp-md) {
			margin: $space-lg 0;
		}

		.citation {
			display: flex;
			align-items: center;
			padding: ($space-lg - 7px) ($space-md - 5px) ($space-lg - 7px) $space-md; // Caps height
			border-top: 1px solid $shade-2;
			cursor: pointer;

			&:last-child {
				border-bottom: 1px solid $shade-2;
			}

			&:hover {
				background-color: $shade-1;
			}

			&:focus {
				@at-root #{selector-replace(&, ".write", ".write.keyboard-user")} {
					outline-offset: -3px;

					& + .citation {
						border-top-color: transparent;
					}
				}
			}

			.csl-entry-container {
				flex: 1 1 0;
				margin-right: ($space-md - 5px);
				min-width: 0; // Enable word-wrap for long URLs
			}

			.csl-entry {
				margin: 0 !important; // Override entry-spacing defined in CSL
			}

			.btn-icon {
				flex: 0 0 auto;
				margin: (-$space-lg) 0;

				&.success {
					background: $success;

					.icon-copy {
						display: none;
					}

					.icon-tick {
						display: block;
					}
				}
			}

			.icon-tick {
				display: none;
				color: $shade-0;
			}
		}
	}

	.read-only & {
		font-size: 18px;
		margin-bottom: $space-xl - 7px;

		@media (min-width: $bp-md) {
			margin-bottom: $space-xxl - 7px;
		}
	}
}
