@use "sass:color";
@use "sass:selector";
@use "../abstracts/variables";

.bibliography {
	padding: 0;
	list-style: none;
	text-align: left;

	.write & {
		margin: variables.$space-lg (-(variables.$grid-gutter-width) * 0.5);

		@media (min-width: variables.$bp-md) {
			margin: variables.$space-lg 0;
		}

		.citation-container {
			&::before,
			&::after {
				content: "";
				display: block;
				height: 0;
				width: 100%;
				background-color: rgba(variables.$asphalt-light, .2);
			}

			&:last-child {
				border-bottom: 1px solid variables.$shade-2;
			}

			&.dnd-target.dnd-target-above::before,
			&.dnd-target.dnd-target-below::after {
				border-top: 1px solid variables.$shade-2;
				height: var(--dnd-height, 50px);
			}

			&.error {
				color: color.adjust(variables.$text-color, $lightness: 50%);
			}
		}
	}

	.read-only & {
		font-size: 18px;
		margin-bottom: variables.$space-xl - 7px;

		@media (min-width: variables.$bp-md) {
			margin-bottom: variables.$space-xxl - 7px;
		}
	}
}

.citation {
	display: flex;
	align-items: center;
	padding: (variables.$space-lg - 7px) (variables.$space-md - variables.$space-xs) (variables.$space-lg - 7px) variables.$space-md; // Caps height
	border-top: 1px solid variables.$shade-2;
	cursor: pointer;
	position: relative;

	@media (max-width: variables.$bp-md - 1px) {
		padding-right: variables.$space-md - 2px;
	}

	@media (min-width: variables.$bp-md) {
		&::before {
			content: "";
			position: absolute;
			left: 100%;
			width: 32px;
			height: 100%;
			cursor: auto;
		}
	}

	&.dnd-src {
		display: none;
	}

	&.dnd-ghost {
		border: 1px solid variables.$shade-5;
		background-color: variables.$shade-1;
		box-shadow: 0 2px 20px rgba(variables.$shade-10, 0.2);

		.drag-handle,
		.btn-remove,
		.citation-options-menu {
			display: none;
		}
	}

	&:hover {
		@at-root #{selector.replace(&, ".citation", "body:not(.dnd-in-progress) .citation")} {
			background-color: variables.$shade-1;

			@media (min-width: variables.$bp-md) {
				.drag-handle,
				.btn-remove {
					opacity: 1;
				}
			}
		}
	}

	&:focus {
		@at-root #{selector.replace(&, ".citation", ".keyboard .citation")} {
			outline-offset: -3px;

			& + .citation {
				border-top-color: transparent;
			}
		}
	}

	.citation-options-menu {
		@media (min-width: variables.$bp-md) {
			display: none;

			@at-root #{selector.replace(&, ".citation", ".keyboard .citation")} {
				position: absolute;
				right: -36px;
				display: block;
			}
		}
	}

	.drag-handle {
		padding-right: variables.$space-md;
		display: none;
		cursor: grab;

		@media (min-width: variables.$bp-md) {
			display: block;
		}

		@at-root #{selector.replace(&, ".citation", ".mouse .citation")} {
			opacity: 0;
		}

		.icon {
			color: variables.$blue;
		}
	}

	.csl-entry-container {
		flex: 1 1 0;
		margin-right: (variables.$space-md - variables.$space-xs);
		min-width: 0; // Enable word-wrap for long URLs
	}

	> .btn-icon,
	.dropdown {
		margin-top: -(variables.$space-lg);
		margin-bottom: -(variables.$space-lg);
	}

	.show {
		.dropdown-toggle {
			background: variables.$btn-secondary-color;

			.icon {
				color: variables.$shade-0;
			}
		}

		.dropdown-menu {
			text-align: left;

			.feedback {
				color: variables.$btn-success-color;
			}
		}
	}

	> .btn-icon {
		flex: 0 0 auto;
	}

	.btn-copy {
		border-color: transparent;

		&.success {
			opacity: 1.0;
			background-color: variables.$btn-success-color;

			&:active {
				background-color: color.adjust(variables.$btn-success-color, $lightness: -8%);
			}

			.icon {
				color: variables.$shade-0;
			}
		}

		&:focus {
			@at-root #{selector.replace(&, ".citation", ".keyboard .citation")} {
				border-color: variables.$btn-secondary-color;

				&:active {
					border-color: color.adjust(variables.$btn-secondary-color, $lightness: -8%);
				}
			}
		}

		&:active {
			.icon {
				color: variables.$shade-0;
			}
		}
	}

	.btn-remove {
		position: absolute;
		width: variables.$space-md;
		height: variables.$space-md;
		top: 50%;
		right: -24px;
		margin: -8px 0 0;
		border-radius: 50%;
		display: none;

		&:active {
			opacity: 1;
		}

		@media (min-width: variables.$bp-md) {
			display: block;

			@at-root #{selector.replace(&, ".citation", ".mouse .citation")} {
				opacity: 0;
			}

			@at-root #{selector.replace(&, ".citation", ".keyboard .citation")} {
				display: none;
			}

			&:active {
				.icon {
					color: variables.$shade-0;
				}
			}
		}
	}
}
