//
// Section bibliography
//

.section-bibliography {
	text-align: center;
	padding-top: $section-padding-mobile - 16px;

	@media (min-width: $bp-md) {
		padding-top: $section-padding - 21px;
	}

	.read-only & {
		border-top: none;
	}

	.empty-bibliography {
		width: 160px;
		height: auto;
		margin-bottom: $space-xxl - 20px;

		@media (min-width: $bp-md) {
			width: auto;
			margin-bottom: $space-xxxl + $space-xs - 23px;
		}
	}

	.empty-title {
		margin-bottom: $lead-font-size-mobile / 2;

		@media (min-width: $bp-md) {
			margin-bottom: $lead-font-size / 2;
		}
	}

	.empty-lead {
		margin-bottom: -8px;

		@media (min-width: $bp-md) {
			margin-bottom: -10px;
		}
	}

	.write & {
		.bibliography-title {
			display: flex;
			align-items: center;
			transition: background-color $input-transition;
			border-radius: $border-radius-sm;
			margin-bottom: $space-xl - 13px;

			@media (min-width: $bp-md) {
				margin-bottom: $space-xxl - 19px;

				&:hover {
					background-color: $shade-1;
					transition: background-color 0.15s 0.15s ease;
				}
			}

			.input-group {
				flex: 1 1 auto;
			}

			.editable-value {
				line-height: $headings-line-height;
				padding: (($space-xxl - floor($h2-font-size-mobile * $headings-line-height)) / 2 - 1px) 0;
				text-align: left;
				border: 1px solid transparent; // Keep text stable
				word-wrap: break-word;
				min-width: 0; // Fix word-wrap

				@media (min-width: $bp-md) {
					padding: (($space-xxxl - $h2-font-size * $headings-line-height) / 2 - 1px) 0;
					text-align: inherit;
				}
			}

			.editable-control {
				border: 1px solid $input-focus-color;
				box-shadow: 0 0 0 2px $secondary;
				line-height: inherit;
				margin: 0;
				padding: (($space-xxl - floor($h2-font-size-mobile * $headings-line-height)) / 2 - 1px) 0;
				text-align: left;

				@media (min-width: $bp-md) {
					padding: (($space-xxxl - $h2-font-size * $headings-line-height) / 2 - 1px) 0;
					text-align: inherit;
				}
			}

			.btn-icon {
				flex: 0 0 auto;
				margin-left: $space-sm;

				@media (min-width: $bp-md) {
					display: none;
				}
			}

			.editing + .btn-icon {
				display: none;
			}
		}
	}

	.style-selector {
		text-align: left;

		.Select {
			.Select-control {
				border-color: transparent;
				background: $style-selector-bg;
				color: $style-selector-color;
				padding: $input-padding-y-lg $input-padding-x-lg;
				border-radius: $input-border-radius-lg;
				transition:
					background-color $input-transition,
					border $input-transition,
					box-shadow $input-transition;

				&:hover {
					background: $style-selector-hover-bg;
				}
			}

			&.is-focused {
				.Select-control {
					&:hover {
						box-shadow: 0 0 0 2px $style-selector-hover-bg;
					}
				}
			}

			.Select-menu-outer {
				padding: $space-xs 0;
			}

			.Select-option {
				padding: $space-min $input-padding-x-lg;
			}
		}
	}
}
