//
// Brand
//

.brand {
	width: 191px;
	height: 38px;
	margin: auto;

	a {
		display: block;
		height: 100%;
		position: relative;
		text-indent: -9999px;
		overflow: hidden; // Needed for Firfox focus state

		svg {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
