//
// Brand
//

h1.brand {
	position: relative;
	text-align: left;
	font-weight: 800;
	line-height: 0.9;
	font-size: 36px;
	margin-left: 80px;
}
img.brand {
	height: 60px;
	width: 60px;
	float: left;
	margin-top: 2em;
	margin-right: 1em;
}