//
// Button
//

.btn {
	display: inline-block;
	vertical-align: middle;
	border: $btn-border-width solid transparent;
	font-size: $font-size-base;
	line-height: $btn-line-height;
	user-select: none;
	white-space: nowrap;
	text-align: center;
	font-weight: 400;
	border-radius: $btn-border-radius;
	padding: $btn-padding-y $btn-padding-x;
	transition:
		color $btn-transition,
		background-color $btn-transition,
		border-color $btn-transition,
		box-shadow $btn-transition;

	&:not(:disabled):not(.disabled) {
		cursor: pointer;
	}

	&:focus {
		outline: none;
	}
}

.btn-sm {
	padding: $btn-padding-y-sm $btn-padding-x-sm;
}

.btn-primary {
	@include button-variant($btn-primary-color);
}

.btn-secondary {
	@include button-variant($btn-secondary-color);
}

.btn-outline-primary {
	@include button-variant($btn-outline-primary-color, "outline");
}

.btn-outline-secondary {
	@include button-variant($btn-outline-secondary-color, "outline");
}

.btn-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: $btn-icon-size;
	height: $btn-icon-size;
	padding: 0;
	line-height: 1;
	background-color: $btn-icon-bg;

	&:focus {
		.keyboard-user & {
			border-color: $btn-secondary-color;
			box-shadow: 0 0 0 $input-btn-focus-width $btn-secondary-color;
		}
	}

	&:active {
		.icon {
			color: $shade-6;
		}
	}
}
