//
// Button
//

.btn {
	display: inline-block;
	vertical-align: middle;
	border: $btn-border-width solid transparent;
	font-size: $font-size-base;
	line-height: $btn-line-height;
	user-select: none;
	white-space: nowrap;
	text-align: center;
	font-weight: 400;
	border-radius: $btn-border-radius;
	transition:
		color $btn-transition,
		background-color $btn-transition,
		box-shadow $btn-transition;

	&:not(:disabled):not(.disabled) {
		cursor: pointer;
	}

	&:focus {
		outline: none;
	}
}

.btn-sm {
	padding: $btn-padding-y-sm $btn-padding-x-sm;
}

.btn-outline-primary {
	color: $btn-outline-primary-color;
	background-color: transparent;
	border-color: $btn-outline-primary-border;

	&:hover {
		color: $btn-outline-primary-hover-color;
		background-color: $btn-outline-primary-bg;
	}

	&:focus {
		.keyboard-user & {
			box-shadow: 0 0 0 $input-btn-focus-width $btn-outline-primary-border;
		}
	}
}

.btn-outline-secondary {
	color: $btn-outline-secondary-color;
	background-color: transparent;
	border-color: $btn-outline-secondary-border;

	&:hover {
		color: $btn-outline-secondary-hover-color;
		background-color: $btn-outline-secondary-bg;
	}

	&:focus {
		.keyboard-user & {
			box-shadow: 0 0 0 $input-btn-focus-width $btn-outline-secondary-border;
		}
	}
}

.btn-icon {
	padding: $space-min;
	line-height: 1;
	background-color: $btn-icon-bg;

	&:focus {
		.keyboard-user & {
			border-color: $btn-outline-secondary-border;
			box-shadow: 0 0 0 $input-btn-focus-width $btn-outline-secondary-border;
		}
	}

	&:active {
		.icon {
			color: $shade-6;
		}
	}

	.icon {
		display: block;
	}
}
