//
// Cite tools
//

.cite-tools {
	text-align: center;

	.id-input-container {
		display: flex;
		margin-bottom: $space-xl;
	}

	.input-group {
		margin-right: $space-min;
	}

	.form-control {
		transition: border $input-transition, box-shadow $input-transition, padding $input-transition;

		&:focus {
			padding: ($input-padding-y-lg - 2px) $input-padding-x-lg;
		}
	}
}
