@use "../abstracts/variables";

.copy-citation-dialog {
	h5 {
		font-size: variables.$font-size-base;
		font-weight: 600;
		line-height: variables.$line-height-base;
		padding: (variables.$input-btn-padding-y-sm + 1px) 0;
		margin-bottom: variables.$space-sm;
	}

	.preview {
		background-color: variables.$preview-bg;
		border: 1px solid variables.$preview-border-color;
		padding: variables.$input-btn-padding-y-sm variables.$input-btn-padding-x-sm;
		margin: 0;
		border-radius: variables.$border-radius-sm;
		overflow-wrap: break-word;
		min-height: variables.$font-size-base * variables.$line-height-base + 2 * variables.$input-btn-padding-y-sm + 2 * variables.$input-border-width;
	}


}
