@use "../abstracts/variables";

.crash-handler {
	align-items: center;
	color: variables.$shade-9;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	width: 100%;

	@media (min-width: variables.$bp-md) {
		justify-content: center;
		max-width: 640px;
		padding: 2em 1em;
	}

	h1 {
		font-size: variables.$h1-font-size;
		flex: 0 0 auto;

		@media (max-width: (variables.$bp-md - 1px)) {
			background: variables.$asphalt;
			color: variables.$shade-1;
			display: block;
			width: 100%;
			padding: 1em;
		}
	}

	p {
		flex: 0 0 auto;
		font-size: variables.$font-size-lg;
		margin: 1.5em 1em 2.5em;
	}

	textarea {
		font-size: variables.$font-size-sm;
		border: 1px solid variables.$shade-3;
		color: variables.$shade-9;
		flex: 1 1 auto;
		max-width: calc(100% - 2em);
		resize: none;

		@media (max-width: (variables.$bp-md - 1px)) {
			margin: 1em auto;
		}
	}
}
