//
// Editor
//

.editor {
	position: relative;
	min-height: $editor-min-height; // For the spinner

	.metadata {
		display: flex;
	}

	.key {
		flex: 0 0 33%;
	}

	.value {
		flex: 1 1 0;
		display: flex;
	}

	.icon-spin {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -$editor-spinner-size / 2;
		margin-top: -$editor-spinner-size / 2;
		width: $editor-spinner-size;
		height: $editor-spinner-size;
	}
}
