//
// Editor
//

.editor {
	.metadata-list {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}

	.metadata {
		margin-bottom: $space-min;

		@media (min-width: $bp-md) {
			display: flex;
		}
	}

	.key {
		display: flex;
		color: $label-color;
		margin-bottom: $space-min;

		@media (min-width: $bp-md) {
			flex: 0 0 33%;
			text-align: right;
			padding-right: $space-xs;
			margin-bottom: 0;
		}
	}

	.value {
		display: flex;

		@media (min-width: $bp-md) {
			flex: 1 1 0;
			padding-left: $space-xs;
		}
	}

	// Dev

	textarea {
		@extend .form-control;
		overflow: auto;
		resize: vertical;
	}

	label {
		flex: 1 1 0;
		padding: ($input-btn-padding-y-sm + 1px) 0;
	}

	textarea,
	input {
		padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
	}
}
