.export-dialog-popover {
    .Popover-tip {
		position: relative;
		left: 21px;
	}
}

.export-dialog {
	a {
		text-decoration: none;
	}
	@include bp-down(xs) {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: $items-bg;
		transform: translate3d(100%, 0, 0);
		transition: transform $nav-transition;
		padding: 0 $space-md;

		.export-dialog-active & {
			transform: translate3d(0, 0, 0);
		}
	}

	.btn {
		@include bp-down(xs) {
			display: block;
			margin: .5em 0;
			width: 100%;
		}

		@include bp-up(sm) {
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.Popover-tip {
		position: relative;
		left: 21px;
	}

	.Popover & {
		width: 200px;
		padding: 1em;
		background-color: $shade-0;
		border: 1px solid $text-color;
		border-radius: 3px;

		.btn {
			display: block;
			margin: .5em 0;
			width: 100%;
		}
	}
}