//
// Export tools
//

.export-tools {
	.btn-secondary {
		&:hover {
			background-color: lighten($btn-secondary-color, 4%);
		}

		&:active {
			background-color: darken($btn-secondary-color, 8%);
		}

		&:focus {
			.keyboard-user & {
				&:hover {
					box-shadow:
						0 0 0 $input-btn-focus-width lighten($btn-secondary-color, 4%),
						0 4px 4px $btn-box-shadow-color;
				}
			}
		}
	}

	.copy-to-clipboard {
		position: relative;

		span {
			position: absolute;
			top: $btn-padding-y-xl;
			right: $btn-padding-x-xl;
			bottom: $btn-padding-y-xl;
			left: $btn-padding-x-xl;
			display: flex;
			justify-content: center;
		}

		&::before {
			content: attr(data-text);
			color: transparent;
		}
	}

	.dropdown {
		.btn {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 10px;
				left: -2px;
				bottom: 10px;
				width: 1px;
				background: rgba(255, 255, 255, 0.8);
				transition: opacity 0.15s ease;
			}
		}

		.dropdown-menu {
			text-align: left;
		}

		.dropdown---menu-item---1LjoL {
			padding: $space-min $input-btn-padding-x-lg;
		}
	}

	.dropdown---open---1ju75 {
		.btn {
			&::before {
				opacity: 0;
			}
		}
	}

	> .btn-group {
		&:hover {
			.dropdown {
				.btn {
					&::before {
						opacity: 0;
					}
				}
			}
		}

		.dropdown .btn:focus,
		.btn:focus + .dropdown .btn {
			&::before {
				opacity: 0;
			}
		}
	}
}
