//
// Multiple choice dialog
//

.multiple-choice-dialog {
	.results {
		margin: 0 -$modal-inner-padding-mobile;
		padding: 0;
		list-style: none;

		@media (min-width: $bp-md) {
			margin: 0;
		}
	}

	.result {
		border-top: 1px solid $result-border-color;
		padding: $result-padding;
		cursor: pointer;

		&:hover {
			background-color: $result-hover-bg;

			.badge {
				background-color: $result-hover-bg;
				border-color: darken($badge-light-border-color, 4%);
			}
		}

		&:focus {
			.keyboard-user & {
				outline-offset: -3px;

				& + .result {
					border-top-color: transparent;
				}
			}
		}

		.badge {
			margin-bottom: 6px;

			@media (min-width: $bp-sm) {
				vertical-align: 2px;
				margin-bottom: 0;
			}
		}

		.title {
			margin: 0;
			font-size: 18px;
			line-height: 1.5rem;
			font-weight: 600;
		}

		.title-container {
			margin-right: $space-min + $space-min / 2;
		}

		.description {
			margin: 0;
		}
	}

	.more-items-action {
		$btn-height:
			2 * ($border-width + $btn-padding-y)
			+ $font-size-base * $line-height-base;

		align-items: center;
		display: flex;
		justify-content: center;
		padding-top: $space-md;
		border-top: $border-width solid $shade-2;
		min-height: $border-width + $space-md + $btn-height;
		margin: $space-md (-$space-md) 0;

		@media (min-width: $bp-md) {
			margin: 0;
			padding-top: $space-lg;
			min-height: $border-width + $space-lg + $btn-height;
		}
	}
}
