.permalink-dialog-popover {
	.Popover-tip {
		position: relative;
		left: 62px;
	}
}

.permalink-dialog {
	svg {
		margin: 1em auto;
	}

	.Popover & {
		width: 420px;
		padding: 1em;
		background-color: $shade-0;
		border: 1px solid $text-color;
		border-radius: 3px;

		.btn {
			display: block;
			margin: .5em 0;
			width: 100%;
		}
	}

	@include bp-up(sm) {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}