//
// Review
//

.section-review {
	padding: 0;
	overflow: hidden;
}

.review {
	font-size: 20px;
	background: $review-bg;
	border-top-color: $review-border-color;
	position: relative;
	min-height: 143px; // Dev

	@media (min-width: $bp-md) {
		min-height: 184px; // Dev
	}

	.container {
		padding-top: 52px;
		padding-bottom: $space-xl;

		@media (min-width: $bp-lg) {
			padding-top: $space-xxl - 7px; // Caps height
			padding-bottom: $space-xxl;
		}
	}

	h2 {
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		transform: translateY(calc(-50% - 2px));
		text-align: center;
		margin: 0;
		color: $secondary;
		opacity: 0.5;
	}

	.actions {
		text-align: center;
		margin-top: $space-lg - 8px;

		@media (min-width: $bp-md) {
			margin-top: $space-xl - 8px;
		}
	}

	.btn {
		& + .btn:not(:last-child) {
			margin-left: $space-sm;
		}
	}

	.btn-close {
		$btn-size:
			$font-size-base * $line-height-base
			+ 2 * $btn-padding-y
			+ 2 * $input-border-width;

		position: absolute;
		left: 50%;
		top: $space-sm;
		margin-left: -$btn-size / 2;
		width: $btn-size;
		height: $btn-size;

		@media (min-width: $bp-lg) {
			width: $space-xxxl;
			height: $space-xxxl;
			left: auto;
			top: 50%;
			margin-top: (-$space-xxxl / 2);
			right: ($space-xxl - (($space-xxxl - $space-lg) / 2));
		}
	}

	// Dev only
	.csl-bib-body {
		line-height: inherit !important;
		margin-left: 0 !important;
		text-indent: 0 !important;
	}
}
