@use "../abstracts/variables";

.section-review {
	padding: 0;
	overflow: hidden;
}

.review {
	font-size: 20px;
	background: variables.$review-bg;
	border-top-color: variables.$review-border-color;
	position: relative;
	min-height: 143px; // Dev

	@media (min-width: variables.$bp-md) {
		min-height: 184px; // Dev
	}

	.container {
		padding-top: variables.$space-xl - 7px;
		padding-bottom: variables.$space-xl;

		@media (min-width: variables.$bp-md) {
			padding-top: variables.$space-xxl - 7px; // Caps height
			padding-bottom: variables.$space-xxl;
		}
	}

	h2 {
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		transform: translateY(calc(-50% - 2px));
		text-align: center;
		margin: 0;
		color: variables.$secondary;
		opacity: 0.5;
	}

	.actions {
		text-align: center;
		margin-top: variables.$space-lg - 8px;

		@media (min-width: variables.$bp-md) {
			margin-top: variables.$space-xl - 8px;
		}
	}

	.btn {
		& + .btn {
			margin-left: variables.$space-sm;
		}

		@media (max-width: (variables.$bp-sm - 1px)) {
			min-width: 0;
		}
	}

	// Dev only
	.csl-bib-body {
		line-height: inherit !important;
		margin-left: 0 !important;
		text-indent: 0 !important;
	}
}
