//
// Review
//

.section-review {
	padding: 0;
	overflow: hidden;
}

.review {
	font-size: 20px;
	background: $review-bg;
	border-top-color: $review-border-color;
	position: relative;
	min-height: 143px; // Dev

	@media (min-width: $bp-md) {
		min-height: 184px; // Dev
	}

	.container {
		padding-top: $space-md - 7px;
		padding-bottom: $space-md;

		@media (min-width: $bp-md) {
			padding-top: $space-md - 7px; // Caps height
			padding-bottom: $space-md;
		}
	}

	h2 {
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		transform: translateY(calc(-50% - 2px));
		text-align: center;
		margin: 0;
		color: $secondary;
		opacity: 0.5;
	}

	.actions {
		text-align: center;
		margin-top: $space-lg - 8px;

		@media (min-width: $bp-md) {
			margin-top: $space-xl - 8px;
		}
	}

	.btn {
		& + .btn {
			margin-left: $space-sm;
		}

		@media (max-width: $bp-sm - 1px) {
			min-width: 0;
		}
	}

	// Hide list #
	.csl-left-margin {
		display: none !important;
	}


	.csl-right-inline {
		font-size: 18px !important;
		margin: 0.5em !important;
	}

	// Dev only
	.csl-bib-body {
		line-height: inherit !important;
		margin-left: 0 !important;
		text-indent: 0 !important;
	}
}
