//
// Select
//

.Select {
	position: relative;
	flex: 1 1 0;
	min-width: 0; // Prevent overflow

	.Select-control {
		display: flex;
		align-items: center;
		border-radius: $input-border-radius;
		transition: border $input-transition, box-shadow $input-transition;
		cursor: default;
	}

	&.is-searchable.is-open {
		.Select-control {
			cursor: text;
		}
	}

	&.Select--single {
		.Select-value-label {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&.has-value {
			.Select-value {
				padding-right:
					$input-btn-padding-x
					+ $space-md;

				.busy & {
					padding-right:
						$input-btn-padding-x
						+ $space-md
						+ $space-md
						+ $space-min
						+ 1px;
				}
			}
		}
	}

	.Select-multi-value-wrapper {
		flex: 1 1 0;
		display: flex;
		align-items: center;
		min-width: 0; // Prevent overflow
	}

	.Select-value {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 0 $input-btn-padding-x;

		.input-group.busy & {
			padding-right: $input-btn-padding-x + $space-md + $input-border-width + 1px;
		}
	}

	.Select-input {
		outline: none;
		max-width: 100%;
		overflow: hidden;

		> input {
			border: none;
			background: none;
			padding: 0;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			outline: none;
		}
	}

	.Select-arrow-zone {
		flex: 0 0 auto;
	}

	.Select-arrow {
		display: block;
		width: $space-md;
		height: $space-md;
		background: image-url("bg-icons/16/chevron-11-down-dark.svg");
	}

	.Select-menu-outer {
		position: absolute;
		left: -$input-border-width;
		top: calc(100% + #{$space-min});
		right: -$input-border-width;
		background-color: $menu-bg;
		border-radius: $menu-border-radius;
		z-index: $zindex-select-menu;
		padding: $space-xs 0;
		box-shadow: $menu-box-shadow;
		background-clip: padding-box;
	}

	.Select-menu {
		max-height:
			10 * (
				$font-size-base
				* $line-height-base
				+ 2 * $input-btn-padding-y-sm
				+ 2 * $input-border-width
			);
		overflow-y: auto;
	}

	.Select-option {
		padding: $space-min $input-btn-padding-x;
		cursor: pointer;

		&.is-focused {
			background: $menu-item-hover-bg;
		}
	}
}
