//
// Style installer
//

.style-installer {
	.form-control {
		margin-top: $space-xs;

		@media (min-width: $bp-sm) {
			margin-top: 0;
		}
	}

	.style-list {
		list-style: none;
		padding: 0;
		margin: $space-lg (-$space-md) 0;

		@media (min-width: $bp-sm) {
			margin: $space-xl 0 0 0;
		}
	}

	.style {
		display: flex;
		flex-direction: column;
		border-top: 1px solid $style-border-color;
		padding: ($space-lg - 9px) $space-md $space-lg $space-md;

		@media (min-width: $bp-sm) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: $space-sm;
		}
	}

	.style-title {
		flex: 1 1 auto;
		margin-bottom: $space-md - 7px; // Space between baseline and x-height

		@media (min-width: $bp-sm) {
			margin-bottom: 0;
		}
	}

	.btn {
		flex: 0 0 auto;
		align-self: center; // In column
		margin-left: $space-sm;
		min-width: $space-max - $space-xs;
	}
}
