.style-installer {
	max-height: 90%;
	height: 600px;
	width: 640px;
	display: flex;
	flex-direction: column;

	.item {
		display: flex;
		justify-content: space-between;
		padding: 0 $default-padding-horizontal-touch;
		cursor: pointer;

		&:nth-child(odd) {
			background: $item-odd-bg;
		}

		&:hover {
			color: $item-active-color;
			background: $item-active-bg;
		}

		> span {
			@include css-truncate;
		}

		@include bp-down(sm) {
			padding: $item-touch-padding-vertical $item-touch-padding-horizontal;
		}

		@include touch-or-bp-up(md) {
			padding: $item-touch-padding-vertical $item-touch-padding-horizontal;
		}
	}

	.scroll-container {
		margin-top: .5em;
		overflow: auto;
		flex: 1 1 100%;

		.icon-spin {
			margin: 1.5em auto;
		}

		> p {
			text-align: center;
			margin-top: 1.5em;
		}
	}

	.buttons {
		margin-top: 1em;
		align-self: flex-end;
	}
}