//
// Style installer
//

.style-installer {
	.style-list {
		list-style: none;
		padding: 0;
	}

	.style {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: $space-sm;

		.btn {
			flex: 0 0 auto;
			margin-left: $space-sm;
			min-width: $space-max - $space-xs;
		}
	}
}
