@keyframes spinning {
	to {
		transform: rotate(360deg);
	}
}

.url-input-wrap {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	display: flex;

	@include touch-or-bp-down(sm) {
		padding: 0 $default-padding-horizontal-touch;
	}

	@include bp-up(sm) {
		margin: 2em 0;
	}

	> input {
		padding: .5em;
		font-size: 1.15em;
		border: 1px solid $red;
		flex: 1 0 auto;
		outline: none;
	}

	> button {
		flex: 0 1 auto;
		font-size: 1.15em;
		min-width: 76px;
		text-transform: uppercase;
		background: $shade-0;
		border-color: $red;
		border-width: 1px;
		border-style: solid solid solid none;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0;

		@include bp-up(md) {
			min-width: 64px;
		}
	}
}