@use "sass:color";
@use "../variables";
// stylelint-disable nesting-selector-no-missing-scoping-root

@mixin button-variant($color, $outline: null, $inverse: null) {
	$btn-color: if(sass($inverse): variables.$shade-0; else: $color);
	$shade-0: if(sass($inverse): $color; else: variables.$shade-0);

	background-color: if(sass($outline): transparent; else: $btn-color);
	border-color: if(sass($outline): $btn-color; else: transparent);

	&,
	.icon {
		color: if(sass($outline): $btn-color; else: $shade-0);
	}

	&:hover {
		background-color: $btn-color;
		box-shadow: 0 2px 4px variables.$btn-box-shadow-color;

		&,
		.icon {
			color: $shade-0;
		}
	}

	&:active {
		background-color: color-mix(in srgb, $btn-color 92%, black 8%);
		border-color: if(sass($outline), color-mix(in srgb, $btn-color 92%, black 8%), transparent);
		box-shadow: none;

		&,
		.icon {
			color: $shade-0;
		}
	}

	&:disabled {
		background-color: if(sass($outline): transparent; else: $btn-color);
		border-color: if(sass($outline): $btn-color; else: transparent);
		box-shadow: none;

		&,
		.icon {
			color: if(sass($outline): $btn-color; else: $shade-0);
		}
	}

	&:focus {
		.keyboard & {
			box-shadow: 0 0 0 variables.$input-btn-focus-width $btn-color;

			&:hover {
				box-shadow:
					0 0 0 variables.$input-btn-focus-width $btn-color,
					0 4px 4px variables.$btn-box-shadow-color;
			}

			&:active {
				box-shadow: 0 0 0 variables.$input-btn-focus-width color-mix(in srgb, $btn-color 92%, black 8%);
			}
		}
	}

	&.success {
		background-color: variables.$btn-success-color;

		&:active {
			background-color: color-mix(in srgb, variables.$btn-success-color 92%, black 8%);
		}

		&:focus {
			.keyboard & {
				box-shadow: 0 0 0 variables.$input-btn-focus-width variables.$btn-success-color;

				&:hover {
					box-shadow:
						0 0 0 variables.$input-btn-focus-width variables.$btn-success-color,
						0 4px 4px variables.$btn-box-shadow-color;
				}

				&:active {
					box-shadow: 0 0 0 variables.$input-btn-focus-width color-mix(in srgb, variables.$btn-success-color 92%, black 8%);
				}
			}
		}
	}
}
