@use "../abstracts/variables";

* {
	box-sizing: border-box;
}

// Do not remove the outline from checkboxes and radios
a,
li[tabindex] {
	&:focus {
		outline: none;
		outline-offset: variables.$outline-offset;

		.keyboard & {
			outline: variables.$outline-width solid variables.$outline-color;
		}
	}
}

::selection {
	color: variables.$shade-0;
	background-color: variables.$secondary;
}

html,
body,
main,
.zotero-bib-container {
	height: 100%; // Stretch for spinner
}

body {
	min-width: variables.$body-min-width;
	color: variables.$body-color;
	background-color: variables.$body-bg;
}

.zotero-bib-container {
	&.loading {
		display: flex;
		justify-content: center;
		align-items: center;

		.icon-spin {
			width: variables.$zotero-bib-spinner-size;
			height: variables.$zotero-bib-spinner-size;
		}
	}
}
