@use "../abstracts/variables";

.keyboard :focus {
	outline: variables.$outline-width solid variables.$focus-color;
	outline-offset: variables.$outline-offset;
	position: relative;
}

// Hide modal outline
[tabindex="-1"] {
	&:focus {
		outline: none;
	}
}
