html { // Prevent font size adjustments
	text-size-adjust: 100%; // Prevent font size adjustments
	-webkit-tap-highlight-color: rgb(0 0 0 / 0%); // Hide default tap highlight in iOS
}

body {
	margin: 0;
}

::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
