@use "../abstracts/variables";

body {
	font-family: variables.$font-family-base;
	font-size: variables.$font-size-base;
	line-height: variables.$line-height-base;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	font-weight: variables.$headings-font-weight;
	line-height: variables.$headings-line-height;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
	letter-spacing: -0.035em;
}

h1,
.h1 {
	font-size: variables.$h1-font-size-mobile;
	margin-bottom: variables.$lead-font-size-mobile;
	margin-top: 0;

	@media (min-width: variables.$bp-md) {
		font-size: variables.$h1-font-size;
		margin-bottom: variables.$lead-font-size;
	}
}

h2,
.h2 {
	margin-top: 0;
	font-size: variables.$h2-font-size-mobile;
	margin-bottom: (variables.$space-xl - 6px);

	@media (min-width: variables.$bp-md) {
		font-size: variables.$h2-font-size;
		margin-bottom: (variables.$space-xxl - 8px);
	}
}

h3,
.h3 {
	font-size: variables.$h3-font-size-mobile;

	@media (min-width: variables.$bp-md) {
		font-size: variables.$h3-font-size;
	}
}

h4,
.h4 {
	font-size: variables.$h4-font-size-mobile;
	margin: 0;
	letter-spacing: -0.01em;
	// todo: letter-spacing

	@media (min-width: variables.$bp-md) {
		font-size: variables.$h4-font-size;
	}
}

h5,
.h5 {
	font-size: variables.$h5-font-size;
	margin-top: 0;
	margin-bottom: variables.$space-xs;
	letter-spacing: 0;
}

a {
	color: variables.$link-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

em,
i {
	font-style: italic;
}

strong,
b {
	font-weight: 600;
}

.lead {
	font-size: variables.$lead-font-size-mobile;
	font-weight: variables.$lead-font-weight;
	margin-top: 0;
	letter-spacing: -0.01em;
	// todo: letter-spacing

	@media (min-width: variables.$bp-md) {
		font-size: variables.$lead-font-size;
		margin-left: auto;
		margin-right: auto;
	}

	@media (min-width: variables.$bp-lg) {
		width: 80%;
	}
}
