//
// Type
//

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	font-weight: $headings-font-weight;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	line-height: $headings-line-height;
}

h1,
.h1,
h2,
.h2 {
	letter-spacing: -0.025em;
}

h1,
.h1 {
	font-size: $h1-font-size-mobile;
	margin-bottom: $lead-font-size-mobile;
	margin-top: 0;

	@media (min-width: $bp-md) {
		font-size: $h1-font-size;
		margin-bottom: $lead-font-size;
	}
}

h2,
.h2 {
	margin-top: 0;
	font-size: $h2-font-size-mobile;
	margin-bottom: ($space-xl - 7px);

	@media (min-width: $bp-md) {
		font-size: $h2-font-size;
		margin-bottom: ($space-xxl - 9px);
	}
}

h4,
.h4 {
	font-size: $h4-font-size-mobile;
	margin: 0;
	// todo: letter-spacing

	@media (min-width: $bp-md) {
		font-size: $h4-font-size;
	}
}

h5,
.h5 {
	font-size: $h5-font-size;
	margin-top: 0;
	margin-bottom: $space-xs;
	letter-spacing: 0;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.lead {
	font-size: $lead-font-size-mobile;
	font-weight: $lead-font-weight;
	margin-top: 0;
	// todo: letter-spacing

	@media (min-width: $bp-md) {
		font-size: $lead-font-size;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}
