//
// Type
//

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

h1,
h2 {
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	letter-spacing: -0.025em;
}

h1,
.h1 {
	font-size: $h1-font-size;
}

h2,
.h2 {
	margin-top: 0;
	font-size: $h2-font-size-mobile;
	margin-bottom: ($space-xl - 7px);

	@media (min-width: $bp-md) {
		font-size: $h2-font-size;
		margin-bottom: ($space-xxl - 9px);
	}
}
