// stylelint-disable

// Variables should follow the `$component-state-property-size` formula

//
// Variables
//


//
// Colors
//

$red:          #e52e3d;
$blue:         #2970ff;
$blue-dark:    #333c66;
$blue-darkest: #292b33;
$violet:       #5959ff;

$primary:   $red;
$secondary: $blue;
$error:     $primary;
$warning:   #ff794d;
$success:   #3abd57;
$info:      $blue;

$shade-0: #fff;
$shade-1: #f6f6f6;
$shade-2: #ebebeb;
$shade-3: #ddd;
$shade-4: #ccc;
$shade-4: #bbb;
$shade-5: #999;
$shade-6: #777;
$shade-7: #222;


//
// Body
//

$body-color: $shade-7;
$body-bg:    $shade-0;

$selection-color: $shade-0;
$selection-bg:    $secondary;


//
// Type
//

$font-family-sans-serif: AvenirLTPro, system-ui; // todo
$font-family-base: $font-family-sans-serif;

$font-size-base: 16px;
$line-height-base: 1.5;

$font-size-lg: 24px;

$h1-font-size: 60px;
$h2-font-size: 40px;
$h3-font-size: 32px;
$h4-font-size: 24px;

$h2-font-size-mobile: 32px;
$h4-font-size-mobile: 20px;

$headings-line-height: 1.1;
$headings-font-weight: 300;

$link-color: $secondary;
$link-transition: 0.15s ease;

$lead-font-size:        24px;
$lead-font-size-mobile: 20px;
$lead-font-weight:      300;


//
// Space
//

$space-min:  4px;
$space-xs:   8px;
$space-sm:   12px;
$space-md:   16px;
$space-lg:   24px;
$space-xl:   32px;
$space-xxl:  48px;
$space-xxxl: 64px;
$space-max:  96px;


//
// Grid
//

$grid-gutter-width: $space-xl;
$container-width:   768px + $grid-gutter-width;

$bp-sm: 568px;
$bp-md: 768px;


//
// Components
//

$border-radius:    4px;
$border-radius-sm: 3px;
$border-radius-lg: 6px;

$border-width: 1px;

$menu-bg: $body-bg;
$menu-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 3px 8px rgba(0, 0, 0, 0.2);
$menu-border-radius: $border-radius-sm;
$menu-item-hover-bg: $shade-1;


//
// Z-index master list
//

$zindex-select-menu: 1000;
$zindex-messages:    1010;


//
// Sections
//

$section-padding:        $space-xxxl + $space-xs;
$section-padding-mobile: $space-xxl;


//
// Buttons & forms
//

$input-btn-focus-width: 2px;
$input-btn-border-radius: $border-radius-sm;

$input-btn-padding-x: $space-sm;


$input-btn-padding-x-lg: $space-md;
$input-btn-padding-y-lg: 11px;
$input-btn-padding-x-sm: $space-sm;
$input-btn-padding-y-sm: 3px;


//
// Buttons
//

$btn-border-width: $border-width;

$btn-line-height: $line-height-base;

$btn-padding-x: $space-sm;
$btn-padding-y: 7px;
$btn-padding-x-xl: $space-lg;
$btn-padding-y-xl: $space-sm;
$btn-padding-x-lg: $space-md;
$btn-padding-y-lg: 4px;
$btn-padding-x-sm: $space-sm;
$btn-padding-y-sm: 3px;

$btn-primary-color:   $primary;
$btn-secondary-color: $secondary;
$btn-light-color:     $shade-5;
$btn-error-color:     $error;
$btn-warning-color:   $warning;
$btn-info-color:      $info;
$btn-success-color:   $success;

$btn-icon-bg:   transparent;
$btn-icon-size: $space-xl; // btn-sm size

$btn-border-radius: $border-radius-sm;

$btn-box-shadow-color: rgba(0, 0, 0, 0.2);

$btn-transition: 0.15s ease;


//
// Forms
//

$input-line-height: $line-height-base;

$input-padding-x-lg: $space-md;
$input-padding-y-lg: 11px;

$input-border-radius: $input-btn-border-radius;
$input-border-radius-lg: $border-radius-sm;

$input-focus-color:  $secondary;
$input-border-color: $shade-3;
$placeholder-color:  $shade-4;
$label-color:        $shade-6;

$input-border-width: $border-width;

$input-transition: 0.15s ease;


//
// Icon
//

$icon-color: $shade-6;
$icon-spin-size: $space-xl;


//
// Outline
//

$outline-color:  $secondary;
$outline-width:  3px;
$outline-offset: 2px;


//
// Icons
//

$spinner-color: $secondary;


//
// Badge
//

$badge-font-size: 12px;
$badge-padding-x: $space-xs;
$badge-padding-y: $space-min - 2px;
$badge-light-border-color: $shade-3;
$badge-light-bg: $shade-0;


//
// Zotero bib
//

$zotero-bib-spinner-size: $space-xl;


//
// Style selector
//

$style-selector-bg: $secondary;
$style-selector-hover-bg: lighten($secondary, 4%);
$style-selector-color: $shade-0;


//
// Style installer
//

$style-border-color: $shade-2;


//
// React-modal
//

$modal-backdrop-bg:           rgba($blue-darkest, 0.6);
$modal-content-bg:            $shade-0;
$modal-header-color:          $shade-0;
$modal-header-bg:             $blue-dark;
$modal-title-line-height:     $space-xl;
$modal-footer-border-width:   1px;
$modal-footer-border-color:   $shade-2;
$modal-md:                    500px;
$modal-lg:                    800px;
$modal-header-padding-mobile: $space-md;
$modal-inner-padding-mobile:  $space-md;
$modal-header-padding-md:     $space-lg;
$modal-inner-padding-md:      $space-lg;
$modal-header-padding-lg:     $space-xl;
$modal-inner-padding-lg:      $space-xl;
$modal-icon-spin-color:       $shade-0;


//
// Multiple choice dialog
//

$result-border-color: $shade-2;
$result-padding:      $space-md;
$result-hover-color:  $shade-0;
$result-hover-bg:     $secondary;


//
// Message
//

$message-font-size:        $space-lg;
$message-font-size-mobile: 20px;
$message-color:            $shade-0;
$message-error-bg:         $error;
$message-warning-bg:       $warning;
$message-info-bg:          $info;
$message-success-bg:       $success;


//
// Permalink tools
//

$permalink-spinner-size: $space-xl;


//
// Dropdown
//

$dropdown-menu-bg: $body-bg;
