//
// Variables
//


//
// Colors
//

$red: #e52e3d;
$blue: #2970ff;

$primary: $red;
$secondary: $blue;

$shade-0: #fff;
$shade-1: #f6f6f6;
$shade-2: #ebebeb;
$shade-3: #ddd;
$shade-4: #ccc;
$shade-4: #bbb;
$shade-5: #222;


//
// Type
//

$font-family-sans-serif: system-ui;
$font-family-base: $font-family-sans-serif;

$font-size-base: 16px;
$line-height-base: 1.5;

$headings-font-weight: 300;

$link-transition: 0.15s ease;


//
// Space
//

$space-min:  4px;
$space-xs:   8px;
$space-sm:   12px;
$space-md:   16px;
$space-lg:   24px;
$space-xl:   32px;
$space-xxl:  48px;
$space-xxxl: 64px;
$space-max:  96px;


//
// Grid
//

$grid-gutter-width: $space-xl;
$container-width:   768px + $grid-gutter-width;


//
// Sections
//

$section-padding-md: $space-xxxl + $space-xs;
