// stylelint-disable

// Variables should follow the `$component-state-property-size` formula

//
// Variables
//


//
// Colors
//

$red:          #c8102e;
$blue:         #1e50a0;
$blue-dark:    #61b2e4;
$blue-darkest: #1e50a0;
$violet:       #8967aa;
$indigo: #622aff;
$blue-bright: #0e90db;
$pink: #e94256;
$green: #0b9e43;
$azure: #027fff;
$teal: #2294b1;
$fuchsia: #dd04d1;
$orange: #e2620c;
$cornflower: #0e90db;
$mahogany: #e94b1b;
$avocado: #5f9800;

$primary:   $red;
$secondary: $blue;
$error:     $primary;
$warning:  $red;
$success:   #5c9e31;
$info:      $blue;

$shade-0: #fff;
$shade-1: #f6f6f6;
$shade-2: #ebebeb;
$shade-3: #ddd;
$shade-4: #ccc;
$shade-4: #bbb;
$shade-5: #999;
$shade-6: #777;
$shade-7: #222;


//
// Body
//

$body-color: $shade-7;
$body-bg:    #f5f5f7;

$selection-color: $shade-0;
$selection-bg:    $secondary;


//
// Type
//

$font-family-sans-serif: "HelveticaNeue", "Helvetica Neue", "Helvetica", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', "Tahoma", "Arial", sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-base: 16px;
$line-height-base: 1.5;

$font-size-lg: 24px;
$font-size-sm: 14px;

$h1-font-size: 42px;
$h2-font-size: 33px;
$h3-font-size: 26px;
$h4-font-size: 20px;
$h5-font-size: 20px;

$h1-font-size-mobile: 40px;
$h2-font-size-mobile: 32px;
$h3-font-size-mobile: 24px;
$h4-font-size-mobile: 20px;

$headings-line-height: 1.1;
$headings-font-weight: 400;

$link-color: $secondary;
$link-transition: 0.15s ease;

$lead-font-size:        24px;
$lead-font-size-mobile: 20px;
$lead-font-weight:      400;


//
// Space
//

$space-min:  4px;
$space-xs:   8px;
$space-sm:   12px;
$space-md:   16px;
$space-lg:   24px;
$space-xl:   32px;
$space-xxl:  48px;
$space-xxxl: 64px;
$space-max:  96px;


//
// Grid
//

$body-min-width: 320px;

$grid-gutter-width: $space-xl;
$container-width:   768px + $grid-gutter-width;
//$container-width:   600px;

$bp-xs: 0px;
$bp-sm: 568px;
$bp-md: 768px;
$bp-lg: 1004px;
$bp-xl: 1200px;
$bp-xxl: 1520px;

$grid-breakpoints: (
	xs: $bp-xs,
	sm: $bp-sm,
	md: $bp-md,
	lg: $bp-lg,
	xl: $bp-xl,
);

//
// Components
//

$border-radius:    10px;
$border-radius-sm: 7px;
$border-radius-lg: 10px;

$border-width: 1px;

$menu-bg: $body-bg;
$menu-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 3px 8px rgba(0, 0, 0, 0.2);
$menu-border-radius: $border-radius-sm;
$menu-item-hover-bg: $shade-1;


//
// Z-index master list
//

$zindex-menu:     1000;
$zindex-messages: 1010;


//
// Sections
//

$section-padding:        $space-lg;
$section-padding-mobile: $space-lg;


//
// Buttons & forms
//

$input-btn-focus-width: 2px;
$input-btn-border-radius: $border-radius-sm;

$input-btn-padding-x: $space-sm;
$input-btn-padding-y: 7px;
$input-btn-padding-x-lg: $space-md;
$input-btn-padding-y-lg: 11px;
$input-btn-padding-x-sm: $space-sm;
$input-btn-padding-y-sm: 3px;


//
// Buttons
//

$btn-border-width: $border-width;

$btn-line-height: $line-height-base;

$btn-padding-x: $space-sm;
$btn-padding-y: 7px;
$btn-padding-x-xl: $space-lg;
$btn-padding-y-xl: $space-sm;
$btn-padding-x-lg: $space-md;
$btn-padding-y-lg: 4px;
$btn-padding-x-sm: $space-sm;
$btn-padding-y-sm: 3px;

$btn-primary-color:   $primary;
$btn-secondary-color: $secondary;
$btn-light-color:     $shade-5;
$btn-error-color:     $error;
$btn-warning-color:   $warning;
$btn-info-color:      $info;
$btn-success-color:   $success;

$btn-icon-bg:   transparent;
$btn-icon-size: $space-xl; // btn-sm size

$btn-border-radius: $border-radius-sm;

$btn-box-shadow-color: rgba(0, 0, 0, 0.2);

$btn-transition: 0.15s ease;


//
// Forms
//

$form-gutter-width: $space-md;

$input-line-height: $line-height-base;

$input-padding-x-lg: $space-md;
$input-padding-y-lg: 11px;

$input-border-radius: $input-btn-border-radius;
$input-border-radius-lg: $border-radius-sm;

$input-focus-color:  $secondary;
$input-border-color: $shade-3;
$placeholder-color:  $shade-4;
$label-color:        $shade-6;

$input-border-width: $border-width;

$input-transition: 0.15s ease;


//
// Icon
//

$icon-color: $secondary;
$icon-spin-size: $space-xl;


//
// Outline
//

$outline-color:  $secondary;
$outline-width:  3px;
$outline-offset: 2px;


//
// Icons
//

$spinner-color: $secondary;


//
// Badge
//

$badge-font-size: 12px;
$badge-padding-x: $space-xs;
$badge-padding-y: $space-min - 2px;
$badge-light-border-color: $shade-3;
$badge-light-bg: $shade-0;


//
// Zotero bib
//

$schroeder-cite-spinner-size: $space-xl;


//
// Style selector
//

$style-selector-bg: $secondary;
$style-selector-hover-bg: lighten($secondary, 4%);
$style-selector-color: $shade-0;


//
// Style installer
//

$style-border-color: $shade-2;


//
// React-modal
//

$modal-backdrop-bg:           rgba($shade-5, 0.9);
$modal-content-bg:            $shade-0;
$modal-header-color:          $shade-0;
$modal-header-bg:             $blue;
$modal-title-line-height:     $space-xl;
$modal-footer-border-width:   1px;
$modal-footer-border-color:   $shade-2;
$modal-md:                    500px;
$modal-lg:                    800px;
$modal-header-padding-mobile: $space-md;
$modal-inner-padding-mobile:  $space-md;
$modal-header-padding-md:     $space-lg;
$modal-inner-padding-md:      $space-lg;
$modal-header-padding-lg:     $space-xl;
$modal-inner-padding-lg:      $space-xl;
$modal-icon-spin-color:       $shade-0;


//
// Multiple choice dialog
//

$result-border-color: $shade-2;
$result-padding:      $space-md;
$result-hover-color:  $shade-0;
$result-hover-bg:     $shade-1;


//
// Message
//

$message-font-size:        $space-lg;
$message-font-size-mobile: 20px;
$message-color:            $shade-0;
$message-focus-color:      $shade-0;
$message-error-bg:         $error;
$message-warning-bg:       $warning;
$message-info-bg:          $info;
$message-success-bg:       $success;


//
// Permalink tools
//

$permalink-spinner-size: $space-xl;


//
// Dropdown
//

$dropdown-menu-bg: $body-bg;


//
// Review
//

$review-bg: mix($secondary, $shade-0, 7%);
$review-border-color: mix($secondary, $shade-0, 14%);


//
// Copy citation dialog
//

$preview-bg: $review-bg;
$preview-border-color: $review-border-color;


//
// About
//

$about-bg:    #f5f5f7;
$about-color: $shade-0;

//
// Navbar
//

$navbar-padding-y: 0.5em;
$navbar-padding-x: 0.5em;