footer {
	padding: (43px - 6px) ($grid-gutter-width / 2) (43px - 5px);
	text-align: center;
	border-top: 1px solid $shade-2;

	@media (min-width: $bp-md) {
		padding-top: ($space-xxxl - 6px);
		padding-bottom: ($space-xxxl - 5px);
	}

	&,
	a {
		color: inherit;
	}

	&.faq-footer {
		border-top-color: transparent;
		max-width: $container-width;
		margin: auto;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: $grid-gutter-width / 2;
			right: $grid-gutter-width / 2;
			top: -1px;
			height: 1px;
			background-color: $shade-2;
		}
	}

	.social-nav {
		margin-bottom: 12px;
	}

	.copyright {
		display: block;
		font-size: 12px;
		opacity: 0.4;
	}
}

.zotero-bib-container {
	&.write {
		footer {
			border-top-color: rgba(0, 0, 0, 0.2);
			background: $about-bg;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			&,
			a {
				color: $shade-0;
			}
		}
	}

	&.read-only {
		footer {
			border-top: none;
			padding-top: 0;
			padding-bottom: $section-padding-mobile - 5px;

			@media (min-width: $bp-md) {
				padding-bottom: $section-padding - 5px;
			}
		}
	}
}
