//
// Forms
//

.input-group input, // dev
.form-control {
	display: block;
	width: 100%;
	border: $input-border-width solid $input-border-color;
	line-height: $input-line-height;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	// todo: padding
	border-radius: $input-border-radius;
	transition: border $input-transition, box-shadow $input-transition;

	&:focus {
		border: $input-border-width solid $input-focus-color;
		box-shadow: 0 0 0 2px $secondary;
		outline: none;
	}
}

.form-control-lg {
	padding: $input-padding-y-lg $input-padding-x-lg;
	border-radius: $input-border-radius-lg;
}

label {
	display: inline-block;
	color: $label-color;
}

::placeholder {
	color: $placeholder-color;
}
