//
// Grid
//

.container {
    max-width: $container-width;
	margin: auto;
    padding: 0 ($grid-gutter-width / 2);
    
    @media (min-width: $bp-md) {
        width: auto; // Reset
        width: calc(100% - #{$space-xxl});
	}

	@media (min-width: $bp-lg) {
	//	max-width: 768px;
	}
}
// .container {
// 	max-width: $container-width;
// 	margin: auto;
// }

.container-fluid {
	max-width: 1856px;
	margin: auto;
 }

 .container-fullwidth {
	width: 100%;
	margin: auto;
 }


.row {
	//display: flex;
    //flex-direction: row;
    justify-content: center;
    //align-content: flex-start;
  }
    
    .col.ad {
        flex: 0;
        flex-wrap: wrap;
        //padding: 0.5em;
        margin: 8px 1.5vh;
        width: 100%;
    }

    .col.content {
        width: 100%;
        -ms-flex: 1 0 auto;
    }

    .col.bibl {
        width: 100%;
        -ms-flex: 1 0 auto;
    }

    @media (min-width: $bp-sm) {
        .row {
         flex-wrap: wrap;
         display: flex;
         flex-direction: row;
         }
        .col.ad {
            display: flex;
            flex: 0;
            margin: 8px 1.5vh;
            width: 100%;
        }
        .col.content {
            flex: 1;
            min-width: 400px;
            max-width: $bp-md;
            width: 100%;
            -ms-flex: 1 0 auto;
        }
        .col.bibl {
            flex: none;
            min-width: 400px;
            max-width: $bp-md;
            width: 100%;
            -ms-flex: 1 0 auto;
        }
    }
    @media (min-width: $bp-xl) {
        .row {
         flex-wrap: wrap;
         }
        .col.ad {
            display: flex;
            flex: 0x;
            margin: 8px 1.5vh;
            width: 100%;
        }
        .col.content {
            flex: 1;
            min-width: 400px;
            max-width: $bp-md;
            width: 100%;
            -ms-flex: 1 0 auto;
        }
        .col.bibl {
            flex: 1;
            min-width: 400px;
            max-width: $bp-md;
            width: 100%;
            -ms-flex: 1 0 auto;
        }
    }
    

.container-fullwidth.nav {
    background-color: #222;
}  
	
div.billboard {
  margin: 0 auto;
}
	
nav.flexbox {
    //padding: 10px;
    line-height: 1;
    font-size: 1em;

    @media (min-width: 600px){
        //padding: 10px;
    }   

    ul {
        list-style-type: none;
        padding: 0px;      
    }

    li {
        font-weight: bold;
        cursor: pointer;
        //margin: 11px 0;
        padding: 0.7em 0.7em;
        color: #f0f0f0;
    }   

    a {
        font-weight: bold;
        color: #f0f0f0;
      
      @media (min-width: 42em){
        font-size: 1rem;
      }
    }
}

nav.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-items: center;
	//background-color: #fff;
	
	@media (min-width: 600px){
        justify-content: space-between;
    }

    > a {
        @media (min-width: 600px){
            margin-bottom: 0px;
        }
    }

    .fullwidth {
        flex: 0 0 100%;
        justify-content: center;

        @media (min-width: 600px){
            flex: 0 1 auto;
        }
    }

    ul {        
        display: flex;
        align-items: center;
    }

    ul li {
        flex: auto;
        //margin-right: 10px;
        //margin-top: 10px;
        text-align: center;

        @media (min-width: 600px){
            flex: 0 0 auto;
            margin-right: 20px;
            margin-top: 0;
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}

.advertisement-alpha { width: 320px; height: 260px;  }
@media(min-width: $bp-sm) { .advertisement-alpha { width: 300px; height: 600px; } }