//
// Grid
//

.container {
    max-width: $container-width;
	margin: auto;
    padding: 0 ($grid-gutter-width / 2);
    
    @media (min-width: $bp-md) {
        width: auto; // Reset
        width: calc(100% - #{$space-xxl});
	}

	@media (min-width: $bp-lg) {
		max-width: 768px;
	}
}
// .container {
// 	max-width: $container-width;
// 	margin: auto;
// }

.container-fluid {
	max-width: 1856px;
	margin: auto;
 }

 .container-fullwidth {
	width: 100%;
	margin: auto;
 }


.row {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: center;
    //align-content: flex-start;
  }
  
  .col {
    //min-width: 320px;
   // flex: 1;
   // flex-wrap: wrap;
  }
  
  @media (min-width: $bp-sm) {

}
    .col.ad {
        flex: 0 0 160px;
        flex-wrap: wrap;
        width: 100%;
        padding: 0.5em;
    }

    .col.content {
        width: 100%;
        margin: 0 auto;
    }

    @media (min-width: $bp-sm) {
        .col.ad {
            display: flex;
            flex: 0 0 160px;
            margin: 0 auto;
            width: 100%;
        }
        .col.content {
            min-width: 320px;
            max-width: $bp-md;
            width: 100%;
            margin: 0 auto;
        }
    }
    @media (min-width: $bp-xl) {
        .col.ad {
            display: flex;
            flex: 0 0 330px;
            margin: 0 auto;
            width: 100%;
        }
    }

.container-fullwidth.nav {
    background-color: #222;
}  
	
div.billboard {
  margin: 0 auto;
}
	
nav {
    padding: 10px;
    font-size: 1em;

    @media (min-width: 600px){
        padding: 10px;
    }   

    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;      
    }

    a {
        font-weight: bold;
        border: 1px solid #444;
        border-radius: 4px;
        height: 36px;
        cursor: pointer;
        margin: 11px 0;
        padding: 6px 14px;
        background-color: #1f1f1f;
        border-color: #444;
        color: #f0f0f0;
        transition: 200ms all linear;
}
      @media (min-width: 42em){
        font-size: 1rem;
      }
    }
}

nav.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-items: center;
	//background-color: #fff;
	
	@media (min-width: 600px){
        justify-content: space-between;
    }

    > a {
        //margin-bottom: 5px;

        @media (min-width: 600px){
            margin-bottom: 0px;
        }
    }

    .fullwidth {
        flex: 0 0 100%;
        justify-content: center;

        @media (min-width: 600px){
            flex: 0 1 auto;
        }
    }

    ul {        
        display: flex;
        align-items: center;
    }

    ul li {
        flex: 0 0 100px;
        margin-right: 10px;
        text-align: center;

        @media (min-width: 600px){
            flex: 0 0 auto;
            margin-right: 20px;
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}

.advertisement-alpha { width: 320px; height: 260px;  }
@media(min-width: $bp-md) { .advertisement-alpha { width: 160px; height: 600px; } }
@media(min-width: $bp-xl) { .advertisement-alpha { width: 300px; height: 600px; } }

.example_responsive_1 { width: 320px; height: 100px; }
@media(min-width: 500px) { .example_responsive_1 { width: 468px; height: 60px; } }
@media(min-width: 800px) { .example_responsive_1 { width: 728px; height: 90px; } }