@use "../abstracts/variables";


.container {
	max-width: variables.$container-width;
	margin: auto;
	padding: 0 (variables.$grid-gutter-width * 0.5);

	@media (min-width: variables.$bp-md) {
		width: calc(100% - #{variables.$space-xxl});
	}
}
