@use "../abstracts/variables";

.section-cite {
	border-top: none;
	padding-top: variables.$section-padding-mobile + 21px; // Distance to baseline meta-nav
	position: relative;

	@media (min-width: variables.$bp-md) {
		padding-top: variables.$section-padding - 9px;
	}

	.meta-nav {
		position: absolute;
		right: variables.$grid-gutter-width * 0.5;
		top: variables.$space-sm;
		cursor: pointer;

		a + a {
			margin-left: variables.$space-md;
		}
	}

	.brand {
		margin-bottom: variables.$space-xl - 1px;

		@media (min-width: variables.$bp-md) {
			margin-bottom: variables.$space-xxl - 1px;
		}
	}
}
