//
// Sections
//

.section {
	padding: $section-padding-mobile 0;
	//border-top: 1px solid $shade-2;
    background-color: #fff;
    //border-radius: 20px;
	
	@media (min-width: $bp-md) {
		padding: $section-padding 0.5em;
		margin: 0.5em;
		//min-width: 600px;
	}

	.review + & {
		border-top-color: $review-border-color;
	}
}

.section.section-cite, .section.section-bibliography, .section.section-export {
	max-width: $bp-md;
}