//
// Section brand
//

section.section-brand {
	padding-top: $section-padding-mobile - 9px;
	padding-bottom: $space-xl - 7px;

	@media (min-width: $bp-md) {
		padding-top: $section-padding - 9px;
		padding-bottom: $space-xxl - 7px;
	}
}
