@use "../abstracts/variables";

.section-brand {
	padding-top: variables.$section-padding-mobile - 9px;
	padding-bottom: variables.$space-xl - 7px;

	@media print {
		display: none;
	}

	@media (min-width: variables.$bp-md) {
		padding-top: variables.$section-padding - 9px;
		padding-bottom: variables.$space-xxl - 7px;
	}
}
