@use "../abstracts/variables";

.section-link {
	text-align: center;
	padding-top: variables.$section-padding-mobile - 10px; // t height

	@media (min-width: variables.$bp-md) {
		padding-top: variables.$section-padding - 12px; // t height
	}

	.header-wrapper {
		display: flex;
		justify-content: center;
	}

	.whats-this {
		display: inline-block;
		width: variables.$space-md;
		height: variables.$space-md;
		text-indent: -9999px;
		overflow: hidden;
		vertical-align: variables.$space-sm;
		margin-left: 7px;
		border-radius: 50%;
		transition: box-shadow variables.$link-transition;
		position: relative;

		.icon-question-mark {
			position: absolute;
			left: 0;
			top: 0;

			.circle-small,
			.character {
				transition: fill variables.$link-transition;
			}

			.circle-large,
			.character {
				fill: variables.$secondary;
			}

			.circle-small {
				fill: variables.$shade-0;
			}
		}

		&:hover {
			box-shadow: 0 2px 4px variables.$btn-box-shadow-color;

			.icon-question-mark {
				.circle-small {
					fill: variables.$secondary;
				}

				.character {
					fill: variables.$shade-0;
				}
			}
		}
	}
}
