//
// Section brand
//

.section-brand {
	padding-top: $section-padding-mobile - 4px;
	padding-bottom: $section-padding-mobile - 3px;

	@media (min-width: $bp-md) {
		padding-top: $section-padding - 4px;
		padding-bottom: $section-padding - 3px;
	}
}
