@use "../abstracts/variables";

.section-export {
	text-align: center;

	@media print {
		display: none;
	}

	.write & {
		padding-top: variables.$section-padding-mobile - 10px; // t height

		@media (min-width: variables.$bp-md) {
			padding-top: variables.$section-padding - 12px; // t height
		}
	}

	.read-only & {
		h2 {
			display: none;
		}
	}
}
