//
// Section cite
//

.section-cite {
	border-top: none;
	padding-top: $section-padding-mobile + 14px; // Distance to baseline meta-nav
	position: relative;
	
	@media (min-width: $bp-sm) {
		min-height: 600px;
	}
	
	@media (min-width: $bp-md) {
		padding-top: $section-padding - 9px;
	}

	.howto {
		float: right;
		font-weight: bold;
		text-align: center;
		cursor: pointer;
		padding: 0.7em 0.7em;
		color: #61b2e4;
		z-index: $zindex-menu;
	}

	.container {
		padding: 0.5em;
	}

	section.brand {
		margin-bottom: $space-xl - 1px;
		
		@media (min-width: $bp-md) {
			margin-bottom: $space-xxl - 1px;
		}
	}
}
