//
// Section cite
//

.section-cite {
	border-top: none;
	padding-top: $section-padding-mobile - 9px;
	position: relative;

	@media (min-width: $bp-md) {
		padding-top: $section-padding - 9px;
	}

	.help-link {
		position: absolute;
		right: $grid-gutter-width / 2;
		top: $space-sm;
		cursor: pointer;
	}

	.brand {
		margin-bottom: $space-xl - 1px;

		@media (min-width: $bp-md) {
			margin-bottom: $space-xxl - 1px;
		}
	}
}
