//
// Section cite
//

.section-cite {
	border-top: none;
	padding-top: $space-xxl - 4px;

	@media (min-width: $bp-md) {
		padding-top: $section-padding-md - 4px;
	}
}

.brand,
.brand-subhead {
	margin: auto;

	a {
		display: block;
		height: 100%;
		position: relative;
		text-indent: -9999px;

		svg {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

.brand {
	width: 100px;
	height: 46px;
}

.brand-subhead {
	width: 54px;
	height: 14px;
	margin-bottom: 45px;

	a {
		left: 2px;

		path {
			transition: fill $link-transition;
		}

		&:hover {
			path {
				fill: $primary;
			}
		}
	}
}
