* {
	box-sizing: border-box;
}

body, html, [data-widget=zotero-bib], .zotero-bib-wrap {
	height: 100%;
}

.toolbar-large {
	height: auto;
	margin: 1em 0;

	z-index: $z-index-toolbar;

	@include bp-up(sm) {
		padding: 0 $space-sm;
	}

	@include bp-up(md) {
		padding: 0;
	}

	.btn {
		@include bp-up(xs) {
			margin-right: $space-sm;
		}

		@include bp-up(md) {
			min-width: 124px;
			margin-right: $space-sm;
		}
	}
}

.zotero-bib {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	height: 100%;

	@include bp-up(sm) {
		display: block;
		height: auto;
		margin: 0 auto;
		max-width: 960px;
		width: 100%;
	}
}

footer {
	padding: $space-md 0;
	font-size: .8em;
	text-align: center;

	a {
		color: #900;
		text-decoration: none;
	}
}