div.footnote {
	margin-bottom: 0.2em;
	margin-left: 1.3em;
	text-indent: -1.3em;
}


div.pagebreak {
	page-break-before: always;
}

.hangindent {
	margin-left: 2em;
	text-indent: -2em;
}

div.csl-left-margin {
	float:left;
	padding:0.4em 0px 0.4em 0em;
	width:2em;
}

div.dateindent div.csl-left-margin {
	float:left;
	padding:0.4em 0px 0.4em 0em;
	width:3em;
}

div.dateindent div.csl-block {
	font-weight: bold;
}

div.csl-right-inline {
	margin-left:2em;
	padding:0.4em 0.4em 0.4em 1em;
}

div.dateindent div.csl-right-inline {
	margin-left:3em;
	padding:0.4em 0.4em 0.4em 1em;
}

div.csl-indent {
	border-left: 5px solid #ccc;
	margin-left: 2em;
	margin-top: 0.5em;
	padding-bottom: 0.2em;
	padding-left: 0.5em;
}

div.heading {
	border-bottom: 5px solid #ccc;
	border-top: 5px solid #ccc;
}

div.csl-bib-body {
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

div.csl-entry {
	margin-bottom: 0.5em;
	margin-left: 4em;
	margin-top: 0.5em;
}
