@use "abstracts/variables";
@use "abstracts/functions";
@use "abstracts/mixins";
@use "abstracts/utilities";
@use "base/reset";
@use "base/base";
@use "base/type";
@use "base/outline";
@use "layout/fonts";
@use "layout/grid";
@use "layout/forms";
@use "layout/csl";
@use "layout/sections";
@use "layout/section-cite";
@use "layout/section-export";
@use "layout/section-link";
@use "layout/section-about";
@use "layout/section-brand";
@use "layout/badge";
@use "layout/messages";
@use "layout/inline-feedback";
@use "layout/faq";
@use "layout/footer";
@use "components/cite-tools";
@use "components/dnd";
@use "../../modules/web-common/scss/icon";
@use "components/button";
@use "components/review";
@use "components/bibliography-section";
@use "components/bibliography";
@use "../../modules/web-common/scss/select";
@use "components/editable";
@use "../../modules/web-common/scss/dropdown";
@use "components/react-modal";
@use "components/editor";
@use "components/style-installer";
@use "components/multiple-choice-dialog";
@use "components/message";
@use "components/export-tools";
@use "components/permalink-tools";
@use "components/brand";
@use "components/input";
@use "components/copy-citation-dialog";
@use "components/about";
@use "components/creators";
@use "components/crash-handler";
@use "../../modules/web-common/scss/tabs";
